@keyframes fill-section {
    from {
        background-color: #180A07;
    }
    to {
        background-color: #A99793;
    }
}

@keyframes fill-nav {
    from {
        background-color: #180A07;
    }
    to {
        background-color: #D0604C;
    }
}

body {
    margin: 3rem 5%;
    background-color: #180A07;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

a {
    color: #94B4DB;
}

header img {
    width: 15rem;
    display: block;
    margin: 0 auto;
}

nav, footer {
    background-color: #D0604C;
    border-radius: 5px 5px 0 0;
    animation-name: fill-nav;
    animation-duration: 1s;
}

nav a, footer p {
    color: #F2E0D2;
    text-decoration: none;
}

nav a:hover {
    text-decoration-line: underline;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 2.5rem 0 0;
}

nav li {
    display: inline-block;
    padding: 1rem;
}

section {
    display: flex;
    background-color: #A99793;
    animation-name: fill-section;
    animation-duration: 3s;
}

@media screen and (max-width: 576px) {
    section{
        flex-direction: column;
    }
}

article {
    display: flex;
    flex-direction: column;
    flex: 1;
    color:#F2E0D2;
    margin: 0.5rem;
    padding: 0 0.5rem 1rem;
    background-color: #180A07;
    border-radius: 5px;
}

article img {
    max-width: 100%;
}

#promo {
    background-image: url("../promo.jpg");
    background-position: center;
    background-size: cover;
    padding: 4.5rem;
    border-radius: 5px;
    color: #FFF;
}

#promo h1 {
    margin: 0;
}

#promo p {
    margin-bottom: 0;
}

#hrs {
    margin: 0.75rem 0.75rem 0;
    font-size: 0.85rem;
}

footer {
    display: flex;
    border-radius: 0 0 5px 5px;
}

footer div {
    flex: 1;
}

footer p {
    margin: 1.25rem;
    text-align: right;
}

footer img {
    margin: 1.25rem;
    width: 7rem;
}