body {
    margin: 3rem 5%;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

header img {
    width: 15rem;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 1rem 1rem 0;
}

section {
    display: flex;
}

article {
    flex: 1;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer p {
    text-align: right;
}

footer img {
    margin: 1.25rem auto;
    width: 7rem;
}